.input-container {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-wraper {
    /* height:300px; */
    width: 320px;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    background-color: rgb(222, 230, 227);
    box-shadow: 5px 5px 10px rgb(204, 203, 203);
    padding-top: 15px;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 20px;
}

.input-field {
    height: 30px;
    width: 250px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    gap: 20px;
}

.input-button {
    height: 30px;
    width: 250px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}